<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		{{!-- {{#each jsscripts}}
			<script href="/js/{{this}}"></script>
		{{/each}} --}}
	</head>
	
<body>
	{{{body}}}
</body>
</html>