<head>
    {{!-- {{#each css}}
        <link rel="stylesheet" href="/css/styles.css">
    {{/each}} --}}
    {{!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> --}}
    <title>Pokemon</title>
</head>
<h1>
    Search your favorite pokemon and see recorded data about it!
</h1>
<div class="topnav">
    <a class="active" onclick="document.location.href='/index.handlebars'">Index</a>
    <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
    <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
    <a onclick="document.location.href='/regions.handlebars'">Region</a>
    <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    <a onclick="document.location.href='/pokedex_pokemon.handlebars'">Pokedex Pokemon</a>
</div>
<br>
<h4>
    Search your favorite pokemon!
</h4>
<br>
<div>
    <input type="text" placeholder="Input a name of a pokemon">
</div>
<br>
<div>
    <input type="submit" value="Submit">
</div>