<head>
    <script src="/js/delete.js"></script>
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Pokedex Database
    </h1>
    
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a class="active" onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>
    <br>
    <h4>
        Build a pokedex by clicking that button!
    </h4>
    <br>
    <form id='addPokedex' method="post">
        <label for="trainer_id">Trainer ID:</label><br>
        <input type="text" id="trainer_id" name="trainer_id"  placeholder="Input the ID of a trainer"><br><br>
        <input type="submit" value="Build">
    </form> 

    <br><br>

    <div>
        <table class="table">
            <caption>Current Pokedexes:</caption>
            <thead> 
                <th>Pokedex ID</th>
                <th>Trainer ID</th> 
            </thead> 
            <tbody>
                {{#each pokedex}} 
                <tr> 
                    <td>{{pid}}</td> 
                    <td>{{tid}}</td> 
                    <td><button id="delete" onclick="deletePokedex({{pid}})">Delete</button></td>
                    <td><a href="/pokedex.handlebars/{{pid}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </div>
</body>