<head>
    <link href="styles.css" rel="stylesheet">
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Pokedex Database
    </h1>
    
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a class="active" onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>
    <br>
    <h4>
        Displays all Pokedexes out in the world, and you can assign trainers to them
    </h4>
    <br>
    <form>
        <label for="trainer_id">Trainer ID:</label><br>
        <input type="text" id="trainer_id" name="trainer_id"  placeholder="Input the ID of a trainer"><br><br>
        <input type="submit" value="Submit">
    </form> 

    <br><br>

    <form>
        <legend>Pokedex Data</legend>
        <input type="submit" value="Delete">
    </form>
</body>