<head>
    <link href="styles.css" rel="stylesheet">
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Pokemon
    </h1>
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a class="active" onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>

    <br>
    <h4>
        Submit information about a new pokemon that you have encountered
    </h4>
    <br>
    <form id='addRegion' action="/region" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br><br>
        <label for="region_id">Region ID:</label><br>
        <input type="text" id="region_id" name="region_id"><br><br>
        <label for="preevolution">Pre-Evolution:</label><br>
        <input type="text" id="preevolution" name="preevolution"><br><br>
        <input type="submit" value="Submit">
    </form> 

    <br>
    Delete any existing pokemon entries
    <br>
    <br>

    <form>
        <legend>Pokemon Data</legend>
        <input type="submit" value="Delete">
    </form>
</body>
