<head>
    <script src="/js/delete.js"></script>
    {{!-- <script src="/js/update.js"></script> --}}
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Region
    </h1>
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a class="active" onclick="document.location.href='/regions.handlebars'">Region</a>
        <a onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>
    <br>
    <h4>
        Add new regions to our map
    </h4>

    <br>

    <div>
        <form id='addRegion' method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <input type="submit" value="Submit">
        </form> 
    </div>
    
    <br><br>

    <div>
        <table class="table">
            <caption>Current Regions:</caption>
            <thead> 
                <th>Region ID</th>
                <th>Name</th> 
            </thead> 
            <tbody>
                {{#each region}} 
                <tr> 
                    <td>{{id}}</td> 
                    <td>{{name}}</td> 
                    <td><button id="delete" onclick="deleteRegion({{id}})">Delete</button></td>
                    <td><a href="/regions.handlebars/{{id}}">Update</a></td>
                </tr> 
                {{/each}} 
            </tbody> 
        </table> 
    </div>
</body>