<head>
    <link href="styles.css" rel="stylesheet">
    <title>Pokedex</title>
</head>
<body>
    <h1>
        Trainer
    </h1>
    <div class="topnav">
        <a onclick="document.location.href='/index.handlebars'">Index</a>
        <a onclick="document.location.href='/pokedex.handlebars'">Pokedex</a>
        <a onclick="document.location.href='/pokemon.handlebars'">Pokemon</a>
        <a onclick="document.location.href='/regions.handlebars'">Region</a>
        <a class="active" onclick="document.location.href='/trainer.handlebars'">Trainer</a>
    </div>

    <br>
    <h4>
        Add a new trainer to the adventure!
    </h4>
    <br>
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="pokedex_id">Pokedex ID:</label><br>
        <input type="text" id="pokedex_id" name="pokedex_id"><br><br>
        <label for="region_id">Region ID:</label><br>
        <input type="text" id="region_id" name="region_id"><br><br>
        <input type="submit" value="Submit">
    </form> 

    <h4>
        Remove a trainer from the adventure
    </h4>

    <form>
        <legend>Trainer Data</legend>
        <input type="submit" value="Delete">
    </form>
</body>
